# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log

# Virtual environment
netflix_env/

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# macOS system files
.DS_Store

# Screenshots / history / temp
screenshots/
history/
.history/
.history/
screenshots/
autosync.sh
